{% set navbarActive = 'forum' %}
{% extends 'TecAytPortalBundle:Common:layout.html.twig' %}

{% block content %}
    <section id="forum" class="container forum_view">
        <div class="center">
            <h2>Foro AMA y trasciende</h2>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{{ topic.timestamp|date('j M') }}</span>
                                        <span><i class="fa fa-user"></i> <a href="#">{{ topic.userId.username }}</a></span>
                                        <span><i class="fa fa-comment"></i> <a href="#">{{ topic.getRepliesCount() }} Respuestas</a></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2><a href="#">{{ topic.title }}</a></h2>
                                    <h3>
                                        {{ topic.content }}
                                    </h3>
                                </div>
                            </div>
                    </div><!--/.blog-item-->
                    <h1 id="comments_title">{{ topic.getRepliesCount() }} Respuestas</h1>

                    {% for reply in replies %}
                        <div class="media comment_section">
                            <div class="pull-left post_comments">
                                <a href="#"><img src="{{ asset('bundles/tecaytportal/images/icon-user.png')}}" class="img-circle" alt=""></a>
                            </div>
                            <div class="media-body post_reply_comments">
                                <h3>{{ reply.userId.username }}</h3>
                                <h4>{{ reply.timestamp|date('F j, Y, g:i a') }}</h4>
                                <p>{{ reply.content }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% if app.user.role is defined %}
                        <div class="message_heading">
                            <h4>Dejanos tu respuesta</h4>
                            <p>Apoya a la comunidad de Ama y Trasciende</p>
                        </div>
                        <div class="wow fadeInDown">
                            {% form_theme form 'TecAytPortalBundle:Form:fields.html.twig' %}
                            {{ form(form) }}
                        </div>
                    {% endif %}

                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
{% endblock %}
